<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- DAO -->
	<bean id="userDao" class="study.spring.todo.dao.UserDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="todoDao" class="study.spring.todo.dao.TodoDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- Service -->
	<bean id="userService" class="study.spring.todo.service.UserService">
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	<bean id="todoService" class="study.spring.todo.service.TodoService">
		<property name="todoDao" ref="todoDao"></property>
		<property name="repeatStrategy">
			<map key-type="study.spring.todo.constant.Repeat">
				<entry key="EVERYDAY">
					<bean class="study.spring.todo.repeat.impl.Everyday"></bean>
				</entry>
				<entry key="EVERY_2DAYS">
					<bean class="study.spring.todo.repeat.impl.Every2Days"></bean>
				</entry>
				<entry key="EVERY_MONTH">
					<bean class="study.spring.todo.repeat.impl.EveryMonth"></bean>
				</entry>
				<entry key="EVERY_2MONTH">
					<bean class="study.spring.todo.repeat.impl.Every2Months"></bean>
				</entry>
				<entry key="EVERY_WEEK">
					<bean class="study.spring.todo.repeat.impl.EveryWeek"></bean>
				</entry>
				<entry key="EVERY_2WEEKS">
					<bean class="study.spring.todo.repeat.impl.Every2Weeks"></bean>
				</entry>
				<entry key="EVERY_YEAR">
					<bean class="study.spring.todo.repeat.impl.EveryYear"></bean>
				</entry>
				<entry key="EVERY_2YEARS">
					<bean class="study.spring.todo.repeat.impl.Every2Years"></bean>
				</entry>
				<entry key="NONE">
					<bean class="study.spring.todo.repeat.impl.NoRepeat"></bean>
				</entry>
			</map>
		</property>
	</bean>
	
	<bean id="scheduleService" class="study.spring.todo.service.ScheduleService">
		<property name="todoService" ref="todoService"></property>
	</bean>
</beans>